.license { color: #555; background: #f4f4f4; padding: 10px; border-radius: 5px; white-space: pre-wrap; }

.credits-licenses {
	h1 { font-size:20px; font-weight: 700; margin:0; }
	h2 { font-size:16px; font-weight: 700; }
}