//  inter
@import "https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap";

// lexend
@import "https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap";

// unicons
@font-face {
	font-family: Unicons;
	src: url(../fonts/unicons/Unicons.woff2) format("woff2"), url(../fonts/unicons/Unicons.woff) format("woff");
	font-weight: 400;
	font-style: normal;
	font-display: block
}

// google icons
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp');
