// Toggle global options
$enable-gradients: true;
$enable-shadows: true;

// Customize some defaults
$body-color: #222;
$body-bg: #fff;
$border-radius: .25rem;
// $success: #7952b3

$white: #fff;
$black: #000;

$inter: "Inter", sans-serif;
.inter { font-family: $inter; }

$lexend: "Lexend", sans-serif;
.lexend { font-family: $lexend; }


$ocrx-primary: #A44DD4;
$ocrx-dark: #3D0A60;
$ocrx-light: #D6C3FF;

$g-padding: 1rem;

.bg-ocrx::before {
  content: "";
  position: absolute;
  top: -2rem; left: -2rem; right: -2rem; bottom: -2rem;
  background-image: url('../img/bg-main.jpg');
  background-size: cover;
  background-position: center;
  filter: blur(10px);
	opacity: .2;
  z-index: -1;
}

.bg-content {
	background-color: #e0e1f5;
}

.grid-auto-col {
	grid-template-columns: repeat(auto-fit, minmax(min(6rem, 100%), 1fr));
}

.h-100vh { height:100vh; }
.w-100vw { width:100vw; }

.hidden { visibility: hidden; }

.hr-divider {
	border-top: 1px dashed rgba($ocrx-dark, 1);
}


